name: Deploy Worker

on:
  push:
    branches:
      - main
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Replace wrangler.toml variables
        run: |
          sed -i 's/your-production-bucket-name/${{ secrets.PRD_R2_BUCKET }}/g' wrangler.toml
          sed -i 's/your-preview-bucket-name/${{ secrets.DEV_R2_BUCKET }}/g' wrangler.toml
          sed -i 's/your-production-kv-namespace-id/${{ secrets.PRD_KV_NAMESPACE_ID }}/g' wrangler.toml
          sed -i 's/your-preview-kv-namespace-id/${{ secrets.DEV_KV_NAMESPACE_ID }}/g' wrangler.toml
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: publish --dispatch-namespace prd-mmn ${{ github.event_name == 'push' && '--env preview' || '' }}
